<div id="categories-menu-wrapper">
    <mat-chip-listbox aria-label="Category selection" [@fadeIn]="fadeIn" (change)="hanldeCategoryChange($event)">
        <mat-chip-option color="warn" value="ELECTRONICS">Electronics</mat-chip-option>
        <mat-chip-option color="primary" value="FURNITURE">Furniture</mat-chip-option>
        <mat-chip-option color="accent" value="CLOTHES">Clothes</mat-chip-option>
        <mat-chip-option color="warn" value="BOOKS">Books</mat-chip-option>
        <mat-chip-option color="primary" value="OTHER">Other</mat-chip-option>
    </mat-chip-listbox>
</div>  