.friend-request-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
.friend-request-card {
    width: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

.friend-request-card:hover {
  cursor: pointer;
  background-color: #dcdbdb;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
  
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 16px;
}
  
  .username {
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }