#menu-user-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    box-sizing: border-box;
    padding-top: 20px;

    background-color: #3c84c0;
}

.search-group {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;
    margin-left: 20px;
    box-sizing: border-box;
}

.user-icon {
    margin-right: 80px;
}

.search-form {
    margin-left: 50px;
    width: 100%;
}

.search-full-width {
    width: 100%;
}


.resized-icon {
    transform: scale(2);
    transition: color 0.8s;
}

.resized-icon:hover {
    color: white;
}

.home-icon {
    justify-self: flex-start;
}