.dropdown-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  height: 10%;
  top:10%;
  left: 84%;
  font-size: large;
  border-radius: 10%;
}
.option{
  margin-top: 10px;
  text-align: center;
  align-content: center;
  margin: auto;
  height: 33%;
}

