#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-page {
    padding-top: 20px;
    background: rgb(30,5,64);
    background: white;
}

.add {
    border: 1px solid black;
    margin-top: 10px;
    background-color: aliceblue;
}